$bg1: hotpink;
body {
  background-color: $bg1;
  font-size: 40px;
}
.image-bg {
  display: flex;
  border: 1px solid #000;
  height: 300px;
  background: url("./image/bilibili.png");
}
.image-bg2 {
  border: 1px solid #000;
  height: 300px;
  background: url("./image/bg_02.png");
}
img {
  width: 140px;
  height: 40px;
}
